.contacts-form {
  display: flex;
  flex-direction: column;
  padding: 79px 41px 26px;
  background-color: var(--color-light);
  border-radius: 13.074px;
  border: 0.654px solid #DDD;
  ;
  box-shadow: 0px 8.4982328414917px 12.42049503326416px 0px rgba(0, 0, 0, 0.07);

  &__input,
  &__area {
    padding-left: 13px;
    font-size: 9.806px;
    line-height: 106.659188%;
    /* 10.459px/9.806 */
    letter-spacing: 0.065px;
    color: var(--color-baltic);
    width: 318px;
    border: 0.654px solid #E8E8E8;
    background: #F5F5F5;

    &::placeholder {
      font-size: 9.806px;
      line-height: 106.659188%;
      /* 10.459px/9.806 */
      letter-spacing: 0.065px;
      color: var(--color-baltic);
    }

    &:focus-visible {
      outline: 0;
    }

        @include small-tablet {
          width: 100%;
        }
  }

  &__input {
    margin-bottom: 12px;
    height: 38px;
    border-radius: 25.5px;
  }

  &__area {
    margin-bottom: 31px;
    padding-top: 15px;
    resize: none;
    height: 126px;
  }

  &__btn {
    padding: 12px 0;
    width: 95px;
  }

  @include small-tablet {
    padding: 49px;
  }
}