.features {
  @include flex-v-center;

  padding: 80px 0;

  &__subtitle {
    margin: 0;
    margin-bottom: 17px;
  }

  &__title {
    margin: 0;
    margin-bottom: 27px;
  }

  &__subsubtitle {
    margin: 0;
    margin-bottom: 90px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  &__item {
    max-width: 255px;

    &__svg {
      margin: 0;
      width: 44px;
      height: 44px;
      border-radius: 100%;
      background-color: var(--color-lemonade);
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 18px;
        height: 18px;
        fill: var(--color-light);
      }
    }

    &__subtitle {
      margin: 0;
      margin-bottom: 20px;
      padding-left: 53px;
      background-position: center left;
      background-size: 44px 44px;
      background-repeat: no-repeat;

      &--sketch {
        background-image: url('../img/features-1.svg');
      }

      &--organize {
        background-image: url('../img/features-2.svg');
      }

      &--together {
        background-image: url('../img/features-3.svg');
      }
    }
  }

  @include small-tablet {
    display: none;
  }
}