.footer {
  padding: 120px 0;

  &__container {
    display: flex;
    justify-content: center;
    gap: 55px;
      @include tablet {
        flex-direction: column;
        align-items: center;
      }
  }

  &__list {
    width: 186px;
      @include tablet {
        text-align: center;
      }
  }

  &__subtitle {
    margin-bottom: 25px;
  }

  &__item {
    &:not(:first-child):not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__image {
    border-radius: 22px;
      @include tablet {
        width: 358px;
      }
  }

  &__contacts {
    padding: 17px 0;
  }


}