.header {

  &__container {
    @include flex-all-sb;

    padding-top: 40px;
    padding-bottom: 40px;

    @include tablet {
          padding-top: 27px;
            padding-bottom: 27px;
    }
  }
}

.subscribe {
  &__input {
    font-size: 14px;
    line-height: 16px;
    /* 114.286% */
    letter-spacing: 0.1px;
    color: var(--color-baltic);
    width: 273px;
    height: 54px;
    border: 0;
    border-radius: 39px;
    padding-left: 39px;
    margin-right: 12px;

    &::placeholder {
      font-size: 14px;
      line-height: 16px;
      /* 114.286% */
      letter-spacing: 0.1px;

      color: var(--color-baltic);
    }

    &:focus-visible {
      outline: 0;
    }
        @include tablet {
          width: 250px;
          height: 46px;
          margin: 0;
          margin-bottom: 10px;
        }
  }

  &__btn {
    padding: 19px 38px;

    @include tablet {
        padding: 15px 20px;
      }
  }

  @include tablet {
    display: none;
  }

  &--nav {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
}