.hero {
  &__inner {
    display: flex;
    padding-right: max(20px, calc((100% - 1340px) / 2));
    padding-top: 130px;
    padding-bottom: 130px;

    @include small-tablet {
      flex-direction: column-reverse;
      align-items: center;
      padding-right: 0;
      padding-top: 90px;
      padding-bottom: 80px;
    }
  }

  &__image {
    width: calc(100% - 500px - 40px);

    img {
      box-shadow: 0px 9.860566139221191px 131.47421264648438px 0px rgba(0, 0, 0, 0.23), 0px 9.860566139221191px 19.721132278442383px 0px rgba(0, 0, 0, 0.16);

      @include small-tablet {
        display: block;
        margin: 0 auto;
        margin-bottom: 65px;
        box-shadow: 0px 3.933736801147461px 52.44982147216797px 0px rgba(0, 0, 0, 0.23), 0px 3.933736801147461px 7.867473602294922px 0px rgba(0, 0, 0, 0.16);
      }
    }

    @include small-tablet {
      width: 100% ;
    }
  }

  &__content {
    margin-top: 40px;
    width: 500px;
    margin-left: 86px;
    flex-shrink: 0;

    @include small-tablet {
      margin-top: 0;
      margin-left: 0;
      text-align: center;

    }
  }

  &__title-big {
    margin: 0;
    margin-bottom: 27px;

    @include small-tablet {
      font-size: 46px;
      font-weight: 400;
      line-height: 123.913043%;
      /* 57/46 */
      letter-spacing: 0.2px;
    }

  }

  &__subsubtitle {
    margin: 0;
    margin-bottom: 70px;
    max-width: 330px;

    @include small-tablet {
      margin: 0 auto;
      margin-bottom: 75px;
    }
  }

  &__btn {
    padding: 16px 56px;

    @include small-tablet {
      display: none;
    }

    &--smalltablet {
      display: none;

      @include small-tablet {
        display: block;
      }
    }
  }
}