.prototyping {
  padding: 100px 0;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__content {
    max-width: 300px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__subsubtitle {
    margin-bottom: 90px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 95px;
    padding: 16px 56px;
    border-radius: 35px;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    /* 150% */
    letter-spacing: 0.1px;
    color: var(--color-light);
    background-color: var(--color-picton);
  }


}