<section class="contacts-section" id="contacts">
  <div class="container contacts-section__container">
    <h2 class="title title--light centered contacts-section__title">Contact Us</h2>
    <h4 class="subsubtitle subsubtitle--light centered contacts-section__subsubtitle">Most calendars are designed for teams. Slate is designed for freelancers</h4>
    <div class="contacts-section__inner">
      <form class="contacts-form">
        <input class="contacts-form__input" name="name" id="" type="text" placeholder="Your Name">
        <input class="contacts-form__input" name="email" id="" type="text" placeholder="Your Email">
        <textarea class="contacts-form__area" name="message" placeholder="Your Message"></textarea>
        <button class="btn btn--thin-text btn--lemonade-light btn-reset contacts-form__btn">Send</button>
      </form>

      <div class="contacts">
        <span class="contacts__caption contacts__caption--light">6386 Spring St undefined Anchorage, Georgia 12473 United States</span>
        <a class="contacts__link contacts__link--light contacts__link--phone" href="tel:8435550130">(843) 555-0130</a>
        <a class="contacts__link contacts__link--light  contacts__link--mail" href="mailto:willie.jennings@example.com">willie.jennings@example.com</a>
        <div class="social">
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
          <svg class="social__icon">
            <use xlink:href="img/sprite.svg#linkedin"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>