<section class="features">
  <div class="container features__container">
    <h3 class="subtitle centered features__subtitle">At&nbsp;your fingertips</h3>
    <h2 class="title centered features__title ">Features</h2>
    <h4 class="subsubtitle centered features__subsubtitle">
      Most calendars are designed for teams. Slate is&nbsp;designed for freelancers
    </h4>
    <ul class="list-reset features__list">
      <li class="features__item">

        <h3 class="subtitle features__item__subtitle features__item__subtitle--sketch">The best products start with
          Sketch</h3>

        <p class="descr">
          Slate helps you see how many more days you need to&nbsp;work to&nbsp;reach your financial goal.
        </p>
      </li>
      <li class="features__item">
        <h3 class="subtitle features__item__subtitle features__item__subtitle--organize">Fastest way to&nbsp;organize</h3>
        <p class="descr">
          Slate helps you see how many more days you need to&nbsp;work to&nbsp;reach your financial goal.
        </p>
      </li>
      <li class="features__item">
        <h3 class="subtitle features__item__subtitle features__item__subtitle--together">Work better together</h3>
        <p class="descr">
          Slate helps you see how many more days you need to&nbsp;work to&nbsp;reach your financial goal.
        </p>
      </li>
    </ul>
  </div>
</section>