<section class="hero">
  <div class="hero__inner">
    <button class="btn btn-reset hero__btn hero__btn--smalltablet">Try For Free</button>
    <picture class="hero__image">
      <source media="(max-width: 768px)" srcset="img/hero-mini.jpg">
      <img src="img/hero.jpg" alt="Browser">
    </picture>
    <div class="hero__content">
      <h1 class="hero__title-big title-big title-big--light">We focus on
        ergonomics</h1>
      <h4 class="hero__subsubtitle subsubtitle subsubtitle--light">Most calendars are designed for teams. Slate is
        designed for freelancers</h4>
      <button class="btn btn--light-picton btn-reset hero__btn">Try For Free</button>
    </div>
  </div>
</section>