<section class="prototyping">
  <div class="container prototyping__container">
    <div class="prototyping__content">
      <h2 class="title centered prototyping__title">Lightning fast prototyping</h2>
      <h4 class="subsubtitle centered prototyping__subsubtitle">Most calendars are designed for teams. Slate is designed
        for freelancers</h4>
      <button class="btn btn-reset prototyping__btn">Try For Free</button>
    </div>
    <img class="prototyping__image" src="img/prototyping-laptop.jpg" alt="laptop">
  </div>
</section>