<section class="subscribe-section">
  <div class="container subscribe-section__container">
    <h3 class="subtitle subtitle--light centered subscribe-section__subtitle">At your fingertips</h3>
    <h2 class="title title--light centered subscribe-section__title">Newsletter</h2>
    <h3 class="subtitle subtitle--light centered subscribe__subtitle">At your fingertips</h3>
    <p class="descr descr--light centered subscribe-section__descr">
      Available exclusivery on Figmaland
    </p>
    <input class="subscribe-section__input" name="email" id="" type="text" placeholder="Your Email">
    <button class="btn btn--thin-text btn--lemonade-light btn-reset subscribe-section__btn">Subscribe</button>
  </div>
</section>