<section class="testimonials">
  <div class="container testimonials__container">
    <h2 class="title centered testimonials__title">Testimonials</h2>
    <img class="testimonials__image" src="img/testimonials-1.png" alt="dropbox">
    <h4 class="subsubtitle centered testimonials__subsubtitle">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.</h4>
    <div class="testimonials-item">
      <img class="testimonials-item__image" src="img/testimonials-author.png" alt="Author">
      <div class="testimonials-author">
        <span class="testimonials-author__name">Organize across</span>
        <span class="testimonials-author__position">Ui designer</span>
      </div>
    </div>
    <button class="btn btn-reset testimonials__btn">More Testimonials</button>
  </div>
</section>